/************** 
    Body
***************/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --btnBackgroundColor: hsl(0, 0%, 83%);
  --btnBackgroundColorDilute: hsl(0, 0%, 89%);
}

/*************
    Modal
**************/

.open-modal-btn,
.close-modal-btn {
  padding: 0.25em 0.6em;
  background-color: var(--btnBackgroundColor);
  outline: none;
  border: 1px solid hsl(0, 0%, 40%);
  margin: 1rem 1.5rem;
  font-weight: 700;
  font-size: 1.1rem;
}

/* .open-modal-btn {
  z-index: -2;
} */

.open-modal-btn:focus,
.close-modal-btn:focus,
.open-modal-btn:hover,
.close-modal-btn:hover {
  background-color: var(--btnBackgroundColorDilute);
}

.modal-container {
  max-width: 40%;
  /* margin: 0 auto; */
  background-color: lemonchiffon;
  padding: 1em 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  display: none;
}

.modal-text {
  font-size: 1.2rem;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}

.close-modal-btn {
  text-align: center;
}
